---
title: Aboutページ
---
<h1>{{ title }}</h1>
<ul>
  {%- for media in medias %}
    <li>
      <a href="{{ media.url }}">{{ media.name }}</a>
    </li>
    {%- else %}
    <li>No media</li>
  {%- endfor %}
</ul>