---
layout: layout.njk
pagination:
  data: works
  size: 1
  alias: work
permalink: "works/{{ work.name | slug }}/"
---
<ul>
  <li>Name: {{ work.name }}</li>
  <li>Category: {{ work.category }}</li>
</ul>

{% if pagination.href.previous %}
  <a href="{{ pagination.href.previous }}">前へ</a>
{% endif %}
{% if pagination.href.next %}
  <a href="{{ pagination.href.next }}">次へ</a>
{% endif %}